<ul class="menu">
	<li class="item-1"><a href="{{ site.baseurl }}/pages/index.html">Joomla</a>
		<ul>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla.html">Docs</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/plugins/index.html">Plugins</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/pages/ajax/index.html">Ajax</a></li>
		</ul>
	</li>
	<li class="item-3"><a href="{{ site.baseurl }}/pages/wordpress/index.html">Wordpress</a>
	<ul>
		<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla.html">Local Host Set Up</a></li>
	</ul>
	</li>
</ul>




