<ul class="menu">
	<li class="item-1"><a href="{{ site.baseurl }}/pages/joomla/index.html">Joomla</a>
		<ul>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla/setup.html">Local Host Set Up</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla/custom_install.html">Custom Installation</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla.html">Docs</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/plugins/index.html">Plugins</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla/forms/index.html">Forms</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla/modules/index.html">Modules</a></li>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/joomla/mailer/index.html">Mailer</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/pages/ajax/index.html">Ajax</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/pages/joomla/jgrid/index.html">JGrid</a></li>
			<li class="item-3"><a href="{{ site.baseurl }}/pages/joomla/javascript/index.html">Javascript</a></li>
		</ul>
	</li>
	<li class="item-3"><a href="{{ site.baseurl }}/pages/wordpress/index.html">Wordpress</a>
		<ul>
			<li class="item-2"><a href="{{ site.baseurl }}/pages/wordpress/setup.html">Local Host Set Up</a></li>
		</ul>
	</li>
</ul>




