---
layout: default
title: WebMaster Pages
overview: true
keywords: css3, html5, responsive, grid, scalable
---
<div class="container_body_wrapper">
  <div class="container_content">
    <div class="container_article">
      <article>
        <h1>Layout Files</h1>
        <p>https://docs.joomla.org/J3.x:JLayout_Improvements_for_Joomla!</p>
        <p>https://api.joomla.org/cms-3/classes/JLayoutHelper.html</p>
      </article>
    </div>
    <aside class="container_aside">
      [add nav/banners here]
    </aside>
  </div>
</div>
